@import 'components/kit-core/mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* AUTH */

.container {
  padding: rem(50) rem(30);
}

.googleSign {
  background-repeat: no-repeat;
  background-size: rem(21) rem(21);
  background-position: center left rem(15);
  padding-left: rem(40);
}
