@import 'components/kit-core/mixins.scss';

.topbar {
  background: $white;
  padding: 0 rem(30);
  min-height: 64px;
  height: 64px;
  border-bottom: 1px solid $border;
  color: $text;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

// dark theme
:global(body.kit__dark) {
  .topbar {
    background: $dark-gray-6;
    color: $dark-gray-2;
    border-bottom: 1px solid $dark-gray-4;
  }
}
