@import 'components/mixins.scss';

.auth {
  &__fullscreen {
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    background-size: cover;
    background-position: center center;
    background-image: url('/images/bg-auth.jpg');
  }

  &__block {
    padding: rem(80) rem(40) rem(80);
    margin-bottom: rem(40);
    margin-top: rem(40);
    width: 100%;
    align-self: center;
    position: relative;
    z-index: 2;

    &__pb200 {
      padding-bottom: rem(200) !important;
    }

    @media (max-width: $md-max-width) {
      padding: rem(40) rem(20) rem(80);
    }

    &__inner {
      min-width: rem(300);
      max-width: rem(382);

      margin: 0 auto;
      padding: rem(30) rem(40) rem(20);
      border-radius: 10px;
      overflow: hidden;
      background-color: $white;
      position: relative;
      box-shadow: 0 10px 40px -20px rgba(0, 0, 50, 0.2), 0 10px 80px -20px rgba(0, 0, 50, 0.1);
    }
    &__form {
      position: relative;
      z-index: 2;
    }
    &__promo {
      padding: 0 0 rem(60);
      max-width: rem(800);
      font-size: rem(16);
      line-height: rem(26);
      text-align: center;
      margin: 0 auto;
    }

    &__sidebar {
      display: none;
    }
  }
  &__footer {
    align-self: flex-end;
    width: 100%;
    color: $text;
    padding: rem(40);

    @media (max-width: $md-max-width) {
      padding: rem(40) rem(20) rem(40);
    }

    ul {
      margin-bottom: 0;
      li {
        margin-right: rem(20);
        text-transform: uppercase;
        &:last-child {
          margin-right: 0;
        }
        a {
          color: $text;
          opacity: 0.7;
          line-height: 1.4;
          display: inline-block;
          margin-right: rem(10);
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
