.btn {
  background: linear-gradient(
    45deg,
    rgba(51, 174, 242, 1) 0%,
    rgba(51, 212, 229, 1) 51%,
    rgba(51, 242, 218, 1) 100%
  );
  border: none;
  float: right;
  font-weight: 100;
  color: white;
  border-radius: 4px;
}

.btn:hover {
  background: linear-gradient(
    135deg,
    rgba(51, 174, 242, 1) 0%,
    rgba(51, 212, 229, 1) 51%,
    rgba(51, 242, 218, 1) 100%
  );
}
