@import 'components/kit-core/mixins.scss';

.breadcrumbs {
  padding: rem(20) rem(30) 0;
  color: $gray-5;
  font-size: rem(17);

  a {
    color: $gray-5;

    &:hover {
      color: $primary;
    }
  }
}

.current {
  color: $black;
}

.arrow {
  display: inline-block;
  margin: 0 rem(10);
  &:after {
    display: inline-block;
    content: '·';
    color: $gray-5;
  }
}

// dark theme
:global(body.kit__dark) {
  .breadcrumbs {
    color: $dark-gray-2;
  }

  .current {
    color: $white;
  }

  .arrow {
    &:after {
      color: $dark-gray-2;
    }
  }
}
